button, input, optgroup, select, textarea {
	color:black;
}

/* ------------------------------- */

#part_1 {
	background-color: #555557;
	color: white;
}

#part_1 .row {
	max-width: 1000px;
	margin: auto;
}

#part_1 h1 {
	margin-bottom: 10px;
}

#part_1 h2 {
	margin-bottom: 30px;
	color: #7ec9e6;
}

#config .col > div {
	background-color: #4C4C4E;
	padding:10px;
	padding-top:0px;
	border:5px solid #48484A;
    border-radius: 5px;
    min-height: 300px;
}

#config_robots > div, #config_incendies > div {
	height: 400px;
	background-color: orange;
	overflow: auto;
}

#config_incendies .supprimer {
	cursor: pointer;
}

#config_incendies .supprimer:hover {
	color:orange;
}

/* ------------------------------- */

#part_2 {
	background-color:#E2E4E7;
	padding-top: 10px;
}

#part_2_left {
	width: 58%;
	display: inline-block;
	height: 100%;
}

#part_2_right {
	width: 38%;
	display: inline-block;
	float:right;
	margin-right: 3%;
	height: 100%;
	padding: 30px;
	padding-top: 0px;
}

#part_2_left_top {
	height: 70%;
	background-color: #555557;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

span[data-toggle="tooltip"] {
	cursor: pointer;
}

#part_2_left_bottom {
	height: 30%;
	background-color: white;
	padding: 10px;
	overflow: auto;
}

#part_2_left_bottom ul {
	margin-bottom: 10px;
}