#matrice table {
	border-spacing: 0px;
    border-collapse:unset;
    width:100%;
    height:655px;
}

#matrice td {
    text-align:center;
	max-width: 1px;
	max-height: 1px;
	background-color: #effcfc;
}

#matrice td.disabled {
	background-color: black !important;
    color:white !important;
	max-width: 1px;
	max-height: 1px;
}

#matrice td.path {
	background-color: #4fc12c;
	max-width: 1px;
	max-height: 1px;
}

#matrice td.start {
	background-color: red;
	max-width: 1px;
	max-height: 1px;
}

#matrice td.end {
	background-color: blue;
	max-width: 1px;
	max-height: 1px;
}

#matrice{
	height: 100%;
	overflow: auto;
    width:100%;
}
